<%= render "navbar" %>



<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://source.unsplash.com/random/?cinema);">
  <div class="container text-center">
    <h1>Movie lists</h1>
    <p class="count"><%= @lists.count %> lists</p>
  </div>
</div>


<div class="container">

  <div class="d-flex justify-content-between pt-4 pb-4">
    <h2>My Lists</h2>
    <%= link_to "Create a movie list", new_list_path, class: "btn btn-flat-green" %>
  </div>


  <div class="cards-category">
    <% @lists.each do |list| %>
    <% if list.photo.present? %>
      <%= link_to list_path(list), class: "card-category", style: "background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://res.cloudinary.com/djgk65kdl/image/upload/c_fill,h_600,w_1200/v1/development/#{list.photo.key}')" do %>
        <%= list.name %>
        <% end %>
    <% else %>
      <%= link_to list_path(list), class: "card-category", style: "background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(#{list.image})" do %>
        <%= list.name %>
      <% end %>
      <% end %>
    <% end %>
  </div>


</div>



<%# Test cloudinary %>
<%# <%= cl_image_tag "hvgqhl4jdkhdv32xvowl", alt: "San Francisco", width: 400, %>
  <%# height: 300, crop: :fill %>

<%# <%= cl_image_tag "g1kkb9mzzkk8hltlhamj", alt: "San Francisco", width: 150, %>
  <%# height: 150, crop: :thumb, gravity: :face %>
