<%= render "navbar" %>



<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://source.unsplash.com/random/?cinema);">
  <div class="container text-center">
    <h1>Movie lists</h1>
  </div>
</div>


<div class="container">

  <div class="d-flex justify-content-between pt-4 pb-4">
    <h2>My Listsssddddsss <%= ENV["MA_VARIABLE"] %></h2>
    <%= link_to "Create a movie list", new_list_path, class: "btn btn-flat-green" %>
  </div>


  <div class="cards-category">
    <% @lists.each do |list| %>
      <%= link_to list_path(list), class: "card-category", style: "background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(#{list.image})" do %>
        <%= list.name %>
      <% end %>
    <% end %>
  </div>


</div>
