<%= render "navbar" %>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://source.unsplash.com/random/?cinema);">
  <div class="container text-center">
    <h1>Movies</h1>
  </div>
</div>

<div class="container">
<div class="card-product">
  <img src="<%= @movie.poster_url %>" alt="movie poster", style="width: 280px;"/>
  <div class="card-product-infos">
    <h2><%= @movie.title %></h2>
    <p><%= @movie.overview %></p>
  </div>
  <%= link_to "Back to movies", movies_path, class: "btn btn-flat" %>
</div>
</div>
